/* Styles for the app bar */
.app-bar-button {
    position: relative;
    border: solid 1px var(--color6);
    padding: 0;
}
.app-bar-button-content {
    background-color: var(--color6);
}
.app-bar-main-menu {
    display: flex;
    margin-left: auto;
    align-content: space-between;
    margin-top: 6px;
}
.app-bar-linkLogo {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 2rem;
    color: var(--color6)
}
.app-bar {
    display: flex;
    align-items: center;
    padding: 0 4px 0 6px;
    height: var(--fre-header-height);
    color: var(--color1);
    background: var(--color2);
    font-size: var(--fre-header-font-size);
    line-height: 1;
    min-width: inherit;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
}
.title {
    flex: 1;
    margin-left: 0.5rem;
    white-space: nowrap;
    text-align: left;
    color: var(--color1);
}
/* Styles for component Button */
.rippleButton {
    border: none;
    font-weight: 500;
    max-width: 100%;
    padding: 0;
    position: relative;
    cursor: pointer;
    transition: 200ms all ease-out;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.rippleButton.materialStyle {
    height: 36px;
    width: 115px;
    font-size: 0.875rem;
    color: var(--color1);
    background-color: var(--color5);
    border-radius: 0.2rem;
}
.rippleButton.materialStyle:hover,
.rippleButton.materialStyle:focus {
    outline: none;
    background-color: var(--color-button-hover);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.rippleButton.materialStyle:active {
    outline: none;
    background-color: var(--color-button-active);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.rippleButton.iconStyle {
    height: 24px;
    width: 24px;
    color: var(--color1);
    background-color: var(--color5);
    border-radius: 2rem;
}
.rippleButton.iconStyle:hover,
.rippleButton.iconStyle:focus {
    outline: none;
    background-color: var(--color-button-hover);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.rippleButton.iconStyle:active {
    outline: none;
    background-color: var(--color-button-active);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.rippleButton span {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
}
.rippleButton svg {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
/* Styles for component Figure */
.figure {
    background-color: var(--color1);
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    overflow-x: auto;
}
.figure-image {
    margin: 10px 10px 10px 10px;
    max-width: var(--max-image-width);
    width: 100%;
}
/* Styles for component Footer */
.page-footer {
    padding: 4px;
    text-align: center;
    background: var(--color6);
    color: #eeeeee;
    height: var(--fre-footer-height);
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 20;
}
.copyright {
    font-size: 0.9rem;
    color: var(--color1);
    position: relative;
}
.copyright a {
    color: var(--color3)
}
.link {
    color: var(--color1);
}
/* Styles for Tooltip */
 .tooltip {
     visibility: hidden;
     position: absolute;
     z-index: 1;
     width: 120px;
     text-align: center;
     border-radius: 6px;
     white-space: nowrap;
     /*padding: 5px 0;*/ /* no padding, otherwise the arrow will not line up to the tooltip */
     /*display: inline-block;*/
     /* Fade in tooltip */
     transition: opacity 0.3s;
     opacity: 0;
 }
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}
.default-tip {
    display: inline-block;
    padding: 4px 12px 8px 12px;
    border-radius: 6px;
}
.tooltip.top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    /*margin-left: -60px; !* Use half of the width (120/2 = 60), to center the tooltip *!*/
    transform: translate(-50%, -100%);
}
.tooltip.bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    /*margin-left: -60px; !* Use half of the width (120/2 = 60), to center the tooltip *!*/
    transform: translate(-50%, 100%);
}
.tooltip.left {
    top: -5px;
    right: 105%;
    transform: translateX(-100%);
}
.tooltip.right {
    top: -5px;
    left: 105%;
    transform: translateX(100%);
}
.tooltip.active {
    opacity: 1;
    visibility: initial;
}
/* Show the tooltip text when you mouse over the tooltip slot */
.tooltip-slot:hover + .tooltip {
    opacity: 1;
    visibility: initial;
}
/* Tooltip arrow */
.tooltip.bottom::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    /* The border-width property specifies the size of the arrow.
            If you change this, also change the margin-left value to the same.
            This will keep the arrow centered. */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* The border-color is used to transform the content into an arrow. We set one side to color, and the rest to transparent.
            If all sides were color, you would end up with a colored square box. We set the bottom border color. */
    border-color: transparent transparent var(--color6) transparent;
}
.tooltip.right::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color6) transparent transparent;
}
.tooltip.left::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color6);
}
.tooltip.top::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color6) transparent;
}
/* Styles for component Note */
.note {
    background: var(--color2);
    margin: 20px 20px 20px 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0em 0.5em 0.7em 0.5em;
    overflow-x: auto;
    color: var(--color6);
}
.note-icon {
    position: relative;
    top: 8px; /* to align with the text */
}
.head {
    font-weight: bold;
    padding-left: 0.7em;
}
.content {
    padding: 0.5em;
}
/* Styles for components PopoverMenu and PopoverCategoryMenu */
.side-bar-expand-button {
    margin-right: 32px;
    background: none;
    border: solid 1px var(--color1);
}
.img-container {
    display: flex;
    align-items: baseline;
    margin: 16px 4px 0px 8px;
}
.side-bar-img {
    max-width: 1rem;
    max-height: 1rem;
}
.popover-menu {
    background-color: var(--color1);
    overflow: auto;
}
.sub-menu {
    margin-left: 1.5rem;
}
[popover] {
    position: relative;
    border: solid 1px var(--color-accent);
    border-radius: 3px;
    box-shadow: var(--color-popup-box-shadow);
    inset: var(--fre-header-height) 10px auto 10px;
    padding: 4px;
    width: calc(100vw - 20px);
    & nav {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: bold;
        gap: 4px;
        & .img-container {
            border-top: solid 1px var(--color-accent);
            /*border-bottom: solid 1px var(--color-accent);*/
        }
        margin-bottom: 20px;
    }
}
::backdrop {
    /* for popover element */
    background: #0004;
    backdrop-filter: blur(2px);
}
.close-button {
    border: solid 1px var(--color1);
    padding: 0;
    position: absolute;
    inset: 4px 4px auto auto;
}
.menu-item {
    color: var(--color6);

    margin: 0px 4px 0px 8px;
    padding: 8px 0px 8px 4px;
    flex: 4;
}
/* Styles for component Breadcrumb */
.breadcrumb {
    font-size: 0.8rem;
}
.breadcrumb a {
    display: inline-block;
    color: var(--color5);
    text-decoration: none;
}

.breadcrumb .label {
    color: var(--color-accent);
}
/* Styles for component SidebarEntry */
.side-bar-entry {
    padding: 0 0 0 0.5rem;
    background: 0 0.1rem no-repeat;
    background-size: 1rem 1rem;
    white-space: nowrap;
}
.side-bar-entry.active a {
    background: var(--color2);
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    margin-left: -0.3rem;
}
.leafText {
    color: var(--color6);
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.2s linear;
}
.leafText:hover {
    color: var(--color-accent);
}
/* Styles for component Sidebar */
.sidebar-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-header {
    font-weight: bold;
    margin-top: 1rem;
}
.sidebar-simple {
    font-weight: 520;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
