/* Dark mode original by Taylor Buckner, based on [VS Codes Dark+](https://github.com/VS Codes Dark+)
   Light mode original from Armand Philippot (https://github.com/ArmandPhilippot), based on Coldark
   Previous light mode original by Andrew Lock (https://andrewlock.net)
 */

/* All colors are put in variables, to be able to switch from light to dark theme */
body {
	/* The default light settings */
	/* settings below are from Coldark-cold theme */
	--code-color: #111b27;
	--code-background: transparent;
	--code-block-background: #e3eaf2;
	--token-operator: #a04900;
	--token-not-pre: #e3eaf2;
	--token-constant: #755f00;
	--token-comment: rgb(161, 161, 161);
	--token-number: #755f00;
	--token-string: #116b00;
	--token-keyword: #a04900;
	--token-function: #7c00aa;
	--token-regex: #af00af;
	--token-classname: #005a8e;
	--token-selector: #116b00;
	--token-punctuation: #111b27;
	--line-highlight: #3c526d;
	--line-highlight-shadow: #8da1b9;
	--code-inline-background: var(--color1);  /* same background as normal text */
	/* settings below are from Andrew Lock */
	/*--code-color: #393A34;*/
	/*--code-background: #C1DEF1;*/
	/*--code-block-background: white;*/
	/*--token-operator: #393A34;*/
	/*--token-not-pre: #393A34;*/
	/*--token-constant: #36acaa;*/
	/*--token-comment: #008000;*/
	/*--token-number: #36acaa;*/
	/*--token-string: #A31515;*/
	/*--token-keyword: #0000ff;*/
	/*--token-function: #393A34;*/
	/*--token-regex: #ff0000;*/
	/*--token-classname: #2B91AF;*/
	/*--token-selector: #800000;*/
	/*--token-punctuation: #393A34;*/
	/*--line-highlight: rgba(193, 222, 241, 0.2);*/
	/*--line-highlight-shadow: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));*/
	/*--code-inline-background: #dddddd;*/
}


body.dark {
	/* The dark settings */
	--code-color: #d4d4d4;
	--code-background: transparent;
	--code-block-background: #264F78;
	--token-operator: #569cd6;
	--token-not-pre: #db4c69;
	--token-constant: #9cdcfe;
	--token-comment: rgba(236, 236, 236, 0.75);
	--token-number: #b5cea8;
	--token-string: #ce9178;
	--token-keyword: #c586c0;
	--token-function: #dcdcaa;
	--token-regex: #d16969;
	--token-classname: #4ec9b0;
	--token-selector: #d7ba7d;
	--token-punctuation: #808080;
	--line-highlight: #f7ebc6;
	--line-highlight-shadow: #f7d87c;
	--code-inline-background: var(--color1);
}

/* code blocks within a paragraph need to stand out more */
p code {
	background-color: var(--code-inline-background);
	/*font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;*/
	font-family: 'Source Sans 3', Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
}

pre[class*='language-'],
code[class*='language-'] {
	color: var(--code-color);
	font-size: 13px;
	text-shadow: none;
	font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-'] *::selection,
code[class*='language-'] *::selection {
	text-shadow: none;
	background: var(--code-block-background);
}

@media print {
	pre[class*='language-'],
	code[class*='language-'] {
		text-shadow: none;
	}
}

pre[class*='language-'] {
	border-style: solid;
	border-width: thin;
	border-color: var(--color-code);
	border-color: var(--token-comment);
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	background: var(--code-background);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	color: var(--token-not-pre);
	background: var(--code-background);
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: 0.7;
}

.token.doctype .token.doctype-tag {
	color: var(--token-operator);
}

.token.doctype .token.name {
	color: var(--token-constant);
}

.token.comment,
.token.prolog {
	color: var(--token-comment);
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
	color: var(--code-color);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
	color: var(--token-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
	color: var(--token-string);
}

.language-css .token.string.url {
	text-decoration: underline;
}

.token.operator,
.token.entity {
	color: var(--code-color);
}

.token.operator.arrow {
	color: var(--token-operator);
}

.token.atrule {
	color: var(--token-string);
}

.token.atrule .token.rule {
	color: var(--token-keyword);
}

.token.atrule .token.url {
	color: var(--token-constant);
}

.token.atrule .token.url .token.function {
	color: var(--token-function);
}

.token.atrule .token.url .token.punctuation {
	color: var(--code-color);
}

.token.keyword {
	color: var(--token-operator);
}

.token.keyword.module,
.token.keyword.control-flow {
	color: var(--token-keyword);
}

.token.function,
.token.function .token.maybe-class-name {
	color: var(--token-function);
}

.token.regex {
	color: var(--token-regex);
}

.token.important {
	color: var(--token-operator);
}

.token.italic {
	font-style: italic;
}

.token.constant {
	color: var(--token-constant);
}

.token.class-name,
.token.maybe-class-name {
	color: var(--token-classname);
}

.token.console {
	color: var(--token-constant);
}

.token.parameter {
	color: var(--token-constant);
}

.token.interpolation {
	color: var(--token-constant);
}

.token.punctuation.interpolation-punctuation {
	color: var(--token-operator);
}

.token.boolean {
	color: var(--token-operator);
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
	color: var(--token-constant);
}

.token.selector {
	color: var(--token-selector);
}

.token.escape {
	color: var(--token-selector);
}

.token.tag {
	color: var(--token-operator);
}

.token.tag .token.punctuation {
	color: var(--token-punctuation);
}

.token.cdata {
	color: var(--token-punctuation);
}

.token.attr-name {
	color: var(--token-constant);
}

.token.attr-value,
.token.attr-value .token.punctuation {
	color: var(--token-string);
}

.token.attr-value .token.punctuation.attr-equals {
	color: var(--code-color);
}

.token.entity {
	color: var(--token-operator);
}

.token.namespace {
	color: var(--token-classname);
}
/*********************************************************
* Language Specific
*/

pre[class*='language-javascript'],
code[class*='language-javascript'],
pre[class*='language-jsx'],
code[class*='language-jsx'],
pre[class*='language-typescript'],
code[class*='language-typescript'],
pre[class*='language-tsx'],
code[class*='language-tsx'] {
	color: var(--token-constant);
}

pre[class*='language-css'],
code[class*='language-css'] {
	color: var(--token-string);
}

pre[class*='language-html'],
code[class*='language-html'] {
	color: var(--code-color);
}

.language-regex .token.anchor {
	color: var(--token-function);
}

.language-html .token.punctuation {
	color: var(--token-punctuation);
}
/*********************************************************
* Line highlighting
*/
pre[class*='language-'] > code[class*='language-'] {
	position: relative;
	z-index: 1;
}

.line-highlight.line-highlight {
	background: var(--line-highlight);
	box-shadow: inset 5px 0 0 var(--line-highlight-shadow);
	z-index: 0;
}
